* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4B564E;
    font-family: "Roboto Condensed";
}
html, body {
    height: 100%;
}
header {
    width: 100%;
    height: 33%;
    background: lightgrey;
    border-bottom: 0.7em solid #D80030;
    position: relative;
}
#name-shield {
    position: absolute;
    display: inline-block;
    background: #EAEBEB;
    width: 23%;
    height: 100px;
    min-width: 238px;
    right: 5%;
    bottom: 12%;
    padding-top: 1%;
    padding-left: 2px;
    padding-right: 2px;
}
h2 {
    font-size: 2em;
    text-align: center;
}
header h2:not([id="name"])::before, main h2 {
    display: inline-block;
    content: "";
    height: 0.73em;
    width: 0.73em;
    margin-right: 2%;
    background: #D80030;
}
#portfolio {
    letter-spacing: 0.3em;
    padding-left: 2%;
}
nav {
    width: 100%;
    margin-bottom: 100px;
}
nav ul {
    width: 100%;
    list-style-type: none;
}
nav ul li {
    background: #4B564E;
    color: white;
    font-weight: bold;
    border-right: 2px solid #EAEBEB;
    width: 25%;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    float: left;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li:hover {
    background: #EAEBEB;
    color: #4B564E;
}
.icon-hsc-hamburger {
    display: none;
}

main{
  widht:75%;

}

aside{
width: 25%;
float:right;
margin-left:10px;
}

aside h2{
  width: 100%;
  height: 50px;
  color: white;
  background: #4B564E;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  padding:2.5%;


}
@media (max-width: 796px) {
    nav ul li {
        float: none;
        width: 100%;
        padding-left: 10px;
        text-align: left;
        border: none;
    }
    ul li:hover {
        background: #4B564E !important;
        color: white !important;
    }

    .icon-hsc-hamburger {
        font-size: 30px;
        position: relative;
        display: inline;
        margin-top: 10px;
        right: 5%;
        float: right;
        z-index: 99;
        color: white;
        cursor: pointer;
    }
}
