* {font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif;
}


a { text-shadow: 1px 1px lightgrey; }
a:visited{ color: inherit; }	
a:link{
color: black;
font-weight: bold;
text-decoration: none;
}

header {
background-image: url("img/header_background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
box-shadow: 0px 10px 5px; 
padding-bottom: 150px;	
}

header h1, header h2{
text-shadow: 1px 1px 3px white;	
color: white;						
padding-left: 80px;
}				

header h1{
padding-top: 90px;
font-size: 45px;
}

header h2{ margin-top:-40px; }

nav{
padding-bottom: 267px;
margin-left: 50px;
margin-top: 24px;
margin-right: 224px;

background-image: url("img/nav.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: 0px 60px;
box-shadow: 1px 3px 3px lightgrey;
}


nav a {
float:left;
padding-left:30px;
padding-right:30px;
padding-bottom:5px;
padding-top:20px;

border-left:1px solid black;
border-right: 1px solid black;

font-size: 120%;

height: auto;
width: auto;
}

nav li{display: inline; box-sizing:content-box;}
nav li:first-child a{ border-left: 2px solid black; }				
nav li:last-child a{ border-right: 2px solid black; }
nav a:hover{ border-bottom: 2px  solid grey ;}

aside{
float:right;
margin-left: 20px;
margin-top: 20px;
}

aside ul{
list-style:none;

border-bottom: 2px solid;
border-left: 2px solid;
border-radius:4px;

padding-top:50px;
margin-top: -20px;
}

aside li{ margin-bottom: 60px; }
aside li:last-child{ margin-bottom: 40px; }
aside.extNav a{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
margin-right: 10px;

border: 2px solid black;
border-radius: 8px;

float:bottom;
}

aside.extNav a:hover{
text-decoration:none;
background-color:lightgrey;
}

main {
padding-left: 50px;
padding-right: 20px;

position: relative;
color:black;
}

main h2{
font-size: 40px;

border-bottom: 2px solid grey;
margin-top:100px;
}

main h3{
font-size: 28px;

margin-top: 40px;
}

main h2, main h1{ text-shadow: 1px 1px 2px grey; }
main p{ font-size:120%; }

footer{ 
width:100%; 
float:left;
margin-left: 30px;
}

footer img{
position:fixed;

height:25px;
width:25px;

right:20px;
bottom:20px;

border: 2px solid black;

padding: 5px;
}



section img{
float: right;
box-shadow: 0px 10px 5px; 
margin: 10px;
margin-bottom:  30px;
	}



iframe {
float:right;
	
}



